:root {
    --cinza: #595959;
    --cinza-escuro: #333333;
    --cinza-claro: #e5e5e5;
    --banco-claro: #f9f9f9;
    --branco: #fdfdfd;
    --estilo-fonte: Pacifico, cursive;
    --fonte-titulo: 3.1875rem;
    --vinho: #8d0606;
    --vinho-escuro: #620404;
}