.sobre__titulo {
    color: var(--vinho);
    font-family: var(--estilo-fonte); 
}

@media screen and (min-width: 0) {
    .sobre__titulo {
        font-size: 2rem;
    }
}

@media screen and (min-width: 768px) {
    .sobre__titulo {
        font-size: var(--fonte-titulo);
    }
}